<%= form_with(model: state_issue, local: true) do |form| %>
  <% if state_issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state_issue.errors.count, "error") %> prohibited this state_issue from being saved:</h2>

      <ul>
        <% state_issue.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
